<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title sec:authentication="name"></title>
</head>

<body>
	<div>
		Title: <p th:text="${msg.title}"></p>
		Content: <p th:text="${msg.content}"></p>
		
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			Extra: <p th:text="${msg.extraInfo}"></p>
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
			Extra: <p>no more information</p>
		</div>
	</div>
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
</body>
</html>